<%- include('../partials/header.ejs',{synopses:false, book:false}) %>
    <div class="books-grid-container">
        <!-- Navbar links -->
        <%- include('../partials/left-navbar.ejs',{synopses:false, book:true}) %> 
        <!-- Right columns links -->
        <div class="books-container">
            <% books.forEach(book=>{ %>
                <a href="/books/<%=book._id%>" class="i-individual-book-container">
                    <img src="<%=book.image%>" class="i-book-image">
                    <div class="i-book-title"><%=book.title%></div>
                    <div class="i-book-author"><%=book.author%></div>
                </a>
            <% }); %>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>



