<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- HEADER -->
    <link rel="stylesheet" href="/stylesheets/header.css">

    <!-- BOOKS -->
    <link rel="stylesheet" href="/stylesheets/books/index.css">
    <link rel="stylesheet" href="/stylesheets/books/show.css">
    <!-- <link rel="stylesheet" href="/stylesheets/books/new.css"> -->

    <!-- SYNOPSIS -->
    <link rel="stylesheet" href="/stylesheets/synopsis/index.css">
    <link rel="stylesheet" href="/stylesheets/synopsis/show.css">

    <!-- GRID CONTAINER FOR BOOKS AND SYNOPSES -->
    <link rel="stylesheet" href="/stylesheets/grid-container.css">

    <!-- NAVBAR -->
    <link rel="stylesheet" href="/stylesheets/left-navbar.css">

    <!-- BOOK/ SYNOPSES SHOW PAGE HEADER (image, title, author) -->
    <link rel="stylesheet" href="/stylesheets/book-show-title.css">
    
    <!-- CDN -->
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">

    <title>SynopC</title>
</head>
<body>
    <div id="title-header">
        <div id="header-word-title">Synop<span>C</span></div>
        <div id="title-header-background"></div>
    </div>
    <nav id="navigation-bar">
        <!-- Shows up when page width less than 635px -->
        <div id="fold-down-menu-icon-nav"><i class="fa fa-bars"></i></div>
        <div id="nav-bar-items">
            <a href="/books"><div class="nav-link">BOOKS</div></a>
            <a><div class="nav-link">TRADE</div></a>
            <a><div class="nav-link">REVIEW</div></a>
            <a href="/synopsis"><div style="padding-right:0;" class="nav-link">SYNOPSIS</div></a>
            <div class="edit-navbar top">book links</div>
            <!-- Links appear no matter which page -->
            <a href="/books/search" class="edit-navbar">
                <div class="edit-navbar nav-link">search books</div>
            </a>
            <a href="/books/create" class="edit-navbar">
                <div class="edit-navbar nav-link">add book</div>
            </a>
            
            <%if(synopses.book_author){%>
            <!-- If a synopses page, then have a link to write associated with book -->
            <div class="edit-navbar top">synopsis links</div>

            <a href="/synopsis/<%=synopses.book_author%>&<%=synopses.book_title%>/write" class="edit-navbar">
                <div class="edit-navbar nav-link">write synopsis</div>
            </a>
            <%}else if(book){%>
                <!-- If a books page, then have a link to write -->
                <%if(book.author){ %>
                    <div class="edit-navbar top">synopsis links</div>

                    <!-- If within a book page, these links appear -->
                    <a href="/synopsis/<%=book.author%>&<%=book.title%>/write" class="edit-navbar">
                        <div class="nav-link edit-navbar">write synopsis</div>
                    </a>
                    <a href="/synopsis/<%=book.author%>&<%=book.title%>" class="edit-navbar">
                        <div class="edit-navbar nav-link">view <%=book.title%>'s synopsis</div>
                    </a>
                <%}else{%>
                <!-- If on main page, redirect user to search for book -->
                <a href="/books/search" class="edit-navbar">
                    <div class="edit-navbar nav-link">write synopsis</div>
                </a>
                <%}%>
                    
                                
            <%}%>
            <%if(currentUser && synopses._id){%>
                <!-- If the current user wrote the synopses they can edit it -->
                <a class="edit-navbar" href="/synopsis/<%=synopses._id%>/edit">
                    <div class="nav-link edit-navbar">EDIT SYNOPSIS</div>
                </a>
                <a class="delete-navbar" href="">
                    <div class="nav-link delete-navbar">
                        <form action="/synopsis/<%=synopses._id%>?_method=DELETE" method="POST">
                            <input style="all:unset" type="submit" value="DELETE SYNOPSIS">
                        </form>
                    </div>
                </a>
            <%}%>           
        </div>
        <!-- Shows in the nav bar not folded -->
        <div class="phone-screen-login-items phone-screen-login-items-hidden">
            <!-- Show to right when everything else in dropdown -->
            <% if(!currentUser){ %>
                <a href="/login">
                    <div>login</div>
                </a>
                <a href="/register">
                    <div>sign up</div>
                </a>
            <% }else{ %>
                <div id="phone-user-signed-in">Signed In As <%= currentUser.username %></div>
                <a href="/logout">
                    <div>logout</div>
                </a>         
            <% } %>
            <!-- Current user buttons -->
        </div>
    </nav>