<%- include('../partials/partial-header.ejs') %>
    <div id="create-book-form-container">
        <!-- If create synopsis from author and book -->
        <div id="create-book-title">SYNOPSIS</div>
        <form action="/synopsis/<%=synopses._id%>?_method=PUT" method="POST">
            <input type="hidden" name="book_image" id="book_image" value="<%=synopses.book_image%>">
            <input type="hidden" name="book_title" id="book_title" value="<%=synopses.book_title%>">
            <input type="hidden" name="book_author" id="book_author" value="<%=synopses.book_author%>">

            <div class="create-synopsis-input">
                <textarea name="body" id="body" placeholder="Synopsis"><%=synopses.body%></textarea>
            </div>

            <div id="create-synopsis-button">
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>