<%- include('../partials/header.ejs') %>
    <div id="books-grid-container">
        <!-- Navbar links -->
        <%- include('../partials/left-navbar.ejs',{bookLinks, synopsisLinks}) %>
        <div id="synopsis-page-container">
            <div>
                <h3>RECENT SYNOPSES</h3>
            </div>
            <div id="synopsis-container">
                <!-- Alternate the colors of the synopsis printed -->
                <% let count = 0; %>
        
                <!-- Loop through all the synopses -->
                <% synopses.forEach(synopsis=>{ %>
                    <a href="/synopsis/<%=synopsis.book_author%>&<%=synopsis.book_title%>&<%=synopsis._id%>">
                        <div class='synopsis-instance synopsis-instance-<%=count%2%>'>
                            <div class="synopsis-book-image-column">
                                <img src="<%=synopsis.book_image%>" class="synopsis-book-image">
                            </div>
                            <div id="synopsis-book-text-column">
                                <div class="synopsis-book-title"><%=synopsis.book_title%> - <%=synopsis.book_author%></div>
                                <div class="synopsis-book-author"><%=synopsis.body.substring(0,20)%>...</div>
                            </div>

                        </div>
                    </a>
                    <hr>
                    <%count++%>
                <%})%>
            </div>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>

