<%- include('../partials/header.ejs') %>
    <div id="synopsis-body">
        <!-- Header with book title, image and author -->
        <div id="synopsis-title-container">
            <img id="synopsis-book-image" src="<%=synopses.book_image%>" alt="">
            <div id="synopsis-title">
                <h2><%=synopses.book_title%></h2>
                <h2><%=synopses.book_author%></h2>
            </div>
        </div>
        <!-- Links to the form where author and title are automatic values -->     
            <div id="books-grid-container">
                <!-- LEFT navbar column -->
                <%- include('../partials/left-navbar.ejs',{synopses, bookLinks, synopsisLinks}) %>

                <!-- RIGHT COLUMN - shows individual synopsis about book (snippets) -->
                <div id="synopsis-previews-container">
                    <!-- Print the current synopsis the user clicked on -->
                    <div id="current-synopsis-container"> 
                        <div id="synopsis-title">
                            Synopsis By: <%=synopses.author%>
                        </div>
                        <div id="synopsis-body">
                            <%=synopses.body%>
                        </div>
                    </div>
                    <a href="/synopsis/<%=synopses._id%>/edit"><input class="edit-button" type="submit" value="EDIT"></a>
                    
                    <form action="/synopsis/<%=synopses._id%>?_method=DELETE" method="POST">
                        <input class="delete-button" type="submit" value="DELETE">
                    </form>
                </div>
            </div>
        </div> <!-- Grid container for left links and synopsis printouts -->
    </div>
<%- include('../partials/footer.ejs') %>