<%- include('../partials/header.ejs') %>
<div id="synopsis-body">
    <!-- Header with book title, image and author -->
        <%- include('../partials/book-show-title.ejs',
                    {image:synopses[0].book_image, title:synopses[0].book_title,author:synopses[0].book_author}) %>


    <!-- Links to the form where author and title are automatic values -->
    <div class="books-grid-container">
        <!-- LEFT navbar column -->
        <%- include('../partials/left-navbar.ejs',{synopses, bookLinks, synopsisLinks}) %>

        <!-- RIGHT COLUMN - shows individual synopsis about book (snippets) -->
        <div id="synopsis-previews-container">

            <%synopses.forEach(syn=>{%>

            <!-- Print other synopsis which have been written -->
            <div id="synopsis-preview">
                <div id="synopsis-preview-user-icon">
                    <div>
                        <%=syn.author.username%>
                    </div>
                </div>
                <div id="synopsis-preview-text">
                    <!-- If there is a synopsis printout, then print a substring -->
                    <%if(syn.body){%>
                        <div><%=syn.body.substring(0,300)%>...</div>
                            <a href="/synopsis/<%=syn._id%>">
                                <div>view</div>
                            </a>
                    <%}%>
                    <%if(syn.author.id == currentUser.id){%>
                        <!-- If author owns this one, then let them edit -->
                        <a href="/synopsis/<%=syn._id%>/edit">
                            <div>Edit</div>
                        </a>
                    <%}%>
                </div>
            </div>
            
            <%});%>
        </div>
    </div>
</div> <!-- Grid container for left links and synopsis printouts -->
</div>
<%- include('../partials/footer.ejs') %>